{% extends 'blog/base.html' %}
{% block title %}Введите новый пароль{% endblock %}
{% block content %}
    {% if validlink  %}
        <h1>Введите новый пароль</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Изменить пароль">
        </form>
    {% else %}
        <p>Некорректная ссылка на смену пароля. Возможно данная ссылка уже была использована. Пожалуйста создайте новый запрос</p>
    {% endif %}
{% endblock %}
