{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Блог{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            {{ message.tags }} {{ message }}
        {% endfor %}
    {% endif %}
    <div id="content">
        {% block content %}<h1>Стандартый контент</h1>{% endblock %}
    </div>
    <div id="sidebar">
        <h1>Блог</h1>
        {% if user.is_authenticated %}
            <p>Привет {{ user.username }}!</p>
            <p><a href="{% url 'users-profile' %}">Профиль</a></p>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <a href="#" onclick="parentNode.submit();">Выйти</a>
            </form>
        {% else %}
            <p>Вы не вошли в систему</p>
            <p><a href="{% url 'login' %}">Войти</a></p>
            <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
            <p><a href="{% url 'signup' %}">Зарегистрироваться</a></p>
        {% endif %}
        <p>Это веб-приложение блог</p>
        <p>Всего публикаций: {% total_posts %}</p>
        <p>Последние публикации:</p>
        {% latest_posts %}
        {% get_most_commented_posts as most_commented_posts %}
        <p>Самое комментируемое:</p>
        <ul>
            {% for post in most_commented_posts %}
                <li><a href="{{post.get_absolute_url}}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
        <a href="{% url 'blog:post_search' %}">Поиск постов</a>
    </div>
</body>
</html>