{% extends 'base.html' %}

{% block content %}
    Подробнее о статье {{ post.title }}
    <br>
    <img src="{{post.thumbnail.url}}" width="900px" height="650px">
    <hr>
    <h3>Описание:</h3>
    {{ post.description }}
    <br>
    <h3>Текст:</h3>
    {{ post.text }}
    <br>
    <a href="{% url 'post_update' post.slug %}">Редактировать</a>
    <a href="{% url 'post_list' %}">К списку статей</a>
    <hr>
    <h3>Оставить комментарий:</h3>
    <hr>
    <h3>Комментарии:</h3>
    <div class="card border-0">
    <div class="card-body">
        <h5 class="card-title">
            Комментарии
        </h5>
        {% include 'blog/includes/comments.html' %}
    </div>
</div>
{% endblock %}