{% extends 'blog/base.html' %}
{% load blog_tags %}
{% block content %}
    {% for post in posts %}
        <div>
            <h2 class="fw-bolder">
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </h2>
            <p class="tag">
                {% if post.tags.all %}
                    Теги:
                    {% for tag in post.tags.all %}
                        <a href="{% url 'blog:tag_post_list' tag.slug %}" class="badge bg-secondary text-decoration-none link-light">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                {% else %}Теги: нет тегов (пока)
                {% endif %}
                <p class="date">Опубликовано {{post.publish}} пользователем {{ post.author }}</p>
                {{ post.body|markdown|truncatewords:30 }}
            </p>
        </div>
    {% endfor %}
    {% include 'blog/post/paginator.html' with page=posts%}
{% endblock %}